
.form{
    width: auto;
    height: 600px;
    background-color: rgb(234, 0, 255);
}

.form1{
    width: auto;
    height: auto;
    background-color: aqua;
}
/* .input{
    align-items: center;
    justify-items: center;
} */